@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300;400;500;600&family=Lobster&family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #253334;
  color: #f1f1f1;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  display: block;
}

.container {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper,
.form-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
