/* Header */
.serene-header {
  padding: 1.5rem 0;
  border-bottom: 1px solid #777777;
  position: relative;
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.serene-header-logo {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.brand-logo-text {
  font-family: 'Lobster', cursive;
  line-height: 1.1;
  font-size: 2.2rem;
}

.serene-header-logo > img {
  display: block;
  width: 10rem;
  object-fit: cover;
}

.serene-header-nav {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
  transition: 300ms ease;
}

.register-btn {
  display: block;
  width: 12rem;
  padding: 8px;
  text-align: center;
  background-color: transparent;
  border: 3px solid #60c2e6;
  color: #60c2e6;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  border-radius: 10px;
}

/* Hero-Section */
.hero {
  margin: 5rem 0;
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.5rem;
}

.hero-banner,
.hero-desc {
  flex: 1 1 30%;
}

.hero-banner > img {
  width: 50rem;

  object-fit: cover;
}

.hero-desc-title {
  font-size: 5.2rem;
  font-weight: 500;
}

.hero-desc-user {
  color: #25ade2;
}

.hero-desc-text {
  font-size: 2rem;
  padding-top: 5px;
}

/* Floating Animation */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* Tabs-Section */
.tabs {
  margin: 5rem 0;
  width: 100%;
}

.tabs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  flex-wrap: wrap;
}

.btn {
  display: block;
  flex: 1 1 40%;
  text-align: center;
  background-color: transparent;
  font-size: 2rem;
  padding: 12px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 300ms ease;
}

.btn-meditation {
  background-color: #0093ab;
}

.btn-sleep {
  background-color: #827397;
}

.btn-depression {
  background-color: #bb9981;
}

.btn-connect {
  background-color: #2fa4ff;
}

.btn:hover {
  opacity: 0.8;
}

/* Footer */
.footer {
  border-top: 1px solid #777777;
  padding: 2.5rem 0;
}

.footer-text {
  font-size: 1.8rem;
  text-align: center;
}

.footer-text > i {
  font-size: 1.6rem;
}

#menu-bar {
  display: none;
}

/* ----------Login-Page & Register Page---------- */
.login {
  border: 1px solid #dddddd;
  border-radius: 8px;
  max-width: 767px;
  width: 96%;
  margin: 0 auto;
  padding: 2.5rem 5rem;
}

.login-user-icon {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: -10rem;
  font-size: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  color: #25ade2;
}

.login-form {
  margin-top: 2.5rem;
}

.login-form-group {
  margin-bottom: 1.5rem;
}

.login-form-group > label {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 5px;
}

.login-form-group > input {
  display: block;
  font-family: inherit;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 12px;
  border: 0;
  background-color: #dddddd;
  border-radius: 5px;
}

.login-btn {
  display: block;
  font-family: inherit;
  width: 15rem;
  padding: 12px;
  text-align: center;
  background-color: #25ade2;
  color: #f1f1f1;
  border: none;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 2.5rem;
  cursor: pointer;
}

/* ----------Meditation Page---------- */
.meditation {
  width: 100%;
}

.meditation-banner {
  background: linear-gradient(
      0deg,
      rgba(37, 51, 52, 0.3),
      rgba(37, 51, 52, 0.3)
    ),
    url('../assets/images/meditation-banner.jpg');
  height: 555px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 5px solid #0093ab;
  border-bottom: 5px solid #0093ab;
  border-left: 5px solid #0093ab;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
}

.meditation-title {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  position: absolute;
  bottom: 0;
}

.feed-container {
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.quote {
  margin: 3.5rem auto;
}

.quote-content {
  text-align: center;
}

.quote-line {
  font-size: 2rem;
  font-weight: 400;
}

.quote-icon {
  font-size: 1.6rem;
  padding: 0 0.5rem;
  color: #0093ab;
}

.quote-author {
  font-size: 2.4rem;
  font-weight: 600;
  padding-top: 0.5rem;
  color: #bb9981;
}

/* Audio-Player */

.meditation-player,
.sleep-player {
  margin: 5rem 0;
}

.demo,
.demo-sleep {
  width: 100%;
}

audio {
  border-radius: 0;
  width: 100%;
}

.mp,
.mp-sleep {
  background: transparent;
  box-shadow: 0px 8px 20px -6px #000;
}

.mp_head_poster,
.mp_head_poster-sleep {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 25rem;
}

.mp_head_poster img,
.mp_head_poster-sleep img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: all 500ms ease;
}

.mp_body,
.mp_body-sleep {
  background: transparent;
  max-height: 15em;
  overflow-y: scroll;
  padding: 0.85rem;
  font-size: 1.6rem;
}

.mp_body::-webkit-scrollbar,
.mp_body-sleep::-webkit-scrollbar {
  width: 10px;
}

.mp_body::-webkit-scrollbar-track,
.mp_body-sleep::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.mp_body::-webkit-scrollbar-thumb,
.mp_body-sleep::-webkit-scrollbar-thumb {
  background-color: #777777;
}

.mp_body ol li a,
.mp_body-sleep ol li a {
  display: block;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  color: #f1f1f1;
  transition: background 500ms ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.mp_body ol li a b,
.mp_body-sleep ol li a b {
  color: #f1f1f1;
  padding-right: 15px;
  font-size: 2rem;
}

.mp_body ol li a:hover,
.mp_body ol li a:focus,
.mp_body ol li a.active {
  background: #0093ab;
  transition: background 500ms ease;
}

.mp_body-sleep ol li a:hover,
.mp_body-sleep ol li a:focus,
.mp_body-sleep ol li a.active {
  background: #827397;
  transition: background 500ms ease;
}

.mp_body ol li a.error,
.mp_body-sleep ol li a.error {
  background: #f55;
  border-color: #f55;
  color: #fff;
  transition: background 500ms ease;
  animation: zoomit 800ms infinite ease;
}

@keyframes zoomit {
  from {
    transform: scale(0.95);
  }
}

.mp_footer,
.mp_footer-sleep {
  margin: 0;
  padding: 0;
  background: #f2f3f4;
  position: relative;
}

/* Sleep-Better Page */

/* ----------Meditation Page---------- */
.sleep {
  width: 100%;
}

.sleep-banner {
  background: linear-gradient(
      0deg,
      rgba(37, 51, 52, 0.3),
      rgba(37, 51, 52, 0.3)
    ),
    url('../assets/images/sleep-better.jpg');
  height: 555px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 5px solid #827397;
  border-bottom: 5px solid #827397;
  border-left: 5px solid #827397;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
}

.sleep-title {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  position: absolute;
  bottom: 0;
}

.sleep-better .quote-icon {
  color: #827397;
}

/* ----------Media Queries Responsive Design---------- */
@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .hero-desc {
    order: 2;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #menu-bar {
    display: block;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .serene-header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    gap: 2.5rem;
    background-color: #253334;
  }

  .serene-header-nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .register-btn {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .btn {
    width: 100%;
    flex: 1 1 100%;
  }

  .hero,
  .tabs {
    margin: 2.5rem 0;
  }

  .hero-banner > img {
    width: 100%;
  }

  .hero-desc-title {
    font-size: 4.2rem;
  }

  .hero-desc-text {
    font-size: 1.6rem;
  }

  .footer-text {
    font-size: 1.7rem;
  }

  .login {
    padding: 2.5rem;
  }

  .form-wrapper {
    margin: 8rem 0;
  }

  .login-user-icon {
    width: 11rem;
    height: 11rem;
    margin: 0 auto;
    margin-top: -8rem;
    font-size: 5rem;
  }

  .mediatation-banner,
  .sleep-banner {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .brand-logo-text {
    display: none;
  }

  .serene-header-logo > img {
    width: 8rem;
  }
}
